  <div class="fake-box"></div>
  <%= form_for current_user, html: { class: 'sign-up-form', id: 'sign-up-form' } do |f| %>
  <div class="new-topmypage-text">
    <p>マイページの作成</p>
  </div>
  <p>ユーザー名</p>
  <div class="sign-input-box">
  <%= f.text_field :user_name, class: "sign-input-box-text" %>
  </div>
    <p>年齢</p>
  <div class="sign-input-box">
    <%= f.text_field :age, class: "sign-input-box-text" %>
  </div>
  <p>画像</p>
  <div class="sign-input-box">
    <%= f.file_field :image, class: "sign-input-box-text", placeholder: "画像アップロード" %>
  </div>
  <div class="sign-input-box">
  <p>性別</p>
<label>
<%= f.radio_button :gender, "男" %> 男 </label>
<label><%= f.radio_button :gender, "女" %> 女</label>
  <!--value: :male, style: "display: inline-block;"} class: "sign-input-box-text"-->
  </div>
  <p>自己紹介</p>
  <div class="sign-input-box">
    <%= f.text_area :profile, class: "sign-input-box-text" %>
  </div>
    <%= f.submit class: 'sign-up-go-button', value: '編集完了' %>
    <% end %>
  <script type="text/javascript" src="./JS/wannyan.js"></script>
</body>
</html>