  <div class="fake-box"></div>
  <%= @user.email %>のユーザーページです。
  <div class="categories">
    <div class="left-categories-mypage">
      <div class="left-categories-mypagetext">
        <div class="mypage-img-box">
          <img class="mypage-img" src="./css/images/top-image.png" alt="mypage-photo">
        </div>
      </div>
      <div class="myprofile-left-categories-items">
        <ul class="left-categorie-prpfile">
          <li class="categorie-profile">
            <p class="left-categories-texmypage">性別</p>
          </li>
          <li class="categorie-profile">
            <p class="left-categories-texmypage"><%= "#{@user.gender}" %></p>
          </li>
          <li class="categorie-profile">
            <p class="left-categories-texmypage">年齢</p>
          </li>
          <li class="categorie-profile">
            <p  class="left-categories-texmypage"><%= "#{@user.age}" %></p>
          </li>
          <li class="categorie-profile">
            <p  class="left-categories-texmypage">自己紹介</p>
          </li>
          <li class="categorie-profile">
            <p  class="left-categories-texmypage"><%= "#{@user.profile}" %></p>
          </li>
        </ul>
      </div>
      <div class="edit_profile"><%= link_to "プロフィール編集", edit_user_path(current_user) %></div>
      <div class="left-categories-SNS">
        <p>SNS</p>
      </div>
      <div class="twitter-btn">
        <a href="#meke-room-click">Twitter</a>
      </div>
      <div class="facebook-btn">
        <a href="#meke-room-click">facebook</a>
      </div>
    </div>
    <div class="right-categories">
      <div class="mypage-topbox">
        <p>みょんみょんさんのマイページ</p>
        </div>
      <div class="popular-room-box">
        <p>みょんみょんさんが作成した相談部屋</p>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
      </div>
      <div class="popular-room-box">
        <p>みょんみょんさんのチャット</p>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
      </div>
    </div>
  </div>