  <div class="fake-box"></div>
    <% if user_signed_in? %>
  <div class="fake-box"></div>
    <% else %>
  <div class="categories">
    <div class="left-categories-mypage">
      <div class="left-categories-mypagetext">
        <div class="mypage-img-box">
          <div class="mypage-img" style="background-image: url(<%= rails_blob_path(@user.image) %>) "></div>
        </div>
      </div>
      <div class="myprofile-left-categories-items">
        <ul class="left-categorie-prpfile">
          <li class="categorie-profile">
            <p class="left-categories-texmypage">名前:</p>
          </li>
          <li class="categorie-profile">
            <p class="left-categories-texmypage"><%= "#{@user.user_name}" %></p>
          </li>
          <li class="categorie-profile">
            <p class="left-categories-texmypage">性別:</p>
          </li>
          <li class="categorie-profile">
            <p class="left-categories-texmypage"><%= "#{@user.gender}" %></p>
          </li>
          <li class="categorie-profile">
            <p class="left-categories-texmypage">年齢:</p>
          </li>
          <li class="categorie-profile">
            <p  class="left-categories-texmypage"><%= "#{@user.age}" %></p>
          </li>
          <li class="categorie-profile">
            <p  class="left-categories-texmypage">自己紹介:</p>
          </li>
          <li class="categorie-profile">
            <p  class="left-categories-texmypage"><%= "#{@user.profile}" %></p>
          </li>
        </ul>
      </div>
      <div class="edit_profile"><%= link_to "プロフィール編集", edit_user_path(current_user) %></div>
      <div class="left-categories-SNS">
        <p>SNS</p>
      </div>
      <div class="twitter-btn">
        <a href="#meke-room-click">Twitter</a>
      </div>
      <div class="facebook-btn">
        <a href="#meke-room-click">facebook</a>
      </div>
       <!--link_to "退会する", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>-->
      <% if user_signed_in? && @user.id == current_user.id %>
      <%= link_to "退会する", user_registration_path(current_user), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
      <% end %>
    </div>
    <div class="right-categories">
      <div class="mypage-topbox">
        <p><%= "#{@user.user_name}" %>さんのマイページ</p>
        </div>
      <div class="popular-room-box">
        <p><%= "#{@user.user_name}" %>さんが作成した相談部屋</p>
        <% @myroom.each do |rooms| %>
        <div class="room-box"><a href="/rooms/<%= rooms.id %>"><%= rooms.room_name %></a></div>
        <% end %>
      </div>
      <div class="popular-room-box">
        <p><%= "#{@user.user_name}" %>のチャット</p>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
      </div>
    </div>
  </div>
  <% end %>