  <div class="fake-box"></div>
  <div class="new-top-text">
    <p><%= current_user.user_name %> さんの新しく部屋を作る</p>
  </div>
  
  <%= form_for(@room,:html => {:class => "sign-up-form", id: 'sign-up-form' }) do |f| %>
  <p>部屋のタイトル</p>
  <div class="sign-input-box">
  <%= f.text_field :room_name, class: "sign-input-box-text" %>
  </div>
  <div class="sign-input-box">
    <p>ジャンル</p>
      <label><%= f.radio_button :genre, "イヌ" %> イヌ </label>
      <label><%= f.radio_button :genre, "ネコ" %> ネコ </label>
      <label><%= f.radio_button :genre, "ウサギ" %> ウサギ </label>
      <label><%= f.radio_button :genre, "モルモット" %> モルモット </label>
    </div>
  <div class="sign-input-box">
    <p>使用したい画像</p>
    <%= f.file_field :image, class: "sign-input-box-image", placeholder: "画像アップロード" %>
  </div>
  <p>相談の内容</p>
  <div class="sign-input-box-last">
  <%= f.text_area :text, class: "sign-input-box-text-last" %>
  </div>
  <p>
  <%= f.submit class: 'sign-up-go-button',value: '作成' %>
  </p>
  <% end %>