  <div class="fake-box"></div>
  <div class="new-top-text">
    <p><%= current_user.user_name %> さんの新しく部屋を作る</p>
  </div>
  
  <%= form_for(@room) do |f| %>
  <form class="sign-up-form">
  <p>部屋のタイトル</p>
  <div class="sign-input-box">
  <%= f.text_field :text, class="sign-input-box-text" %>
  </div>
  <div class="sign-input-box">
    <p>ジャンル</p>
      <input type="radio" name="gender" value="male">イヌ
      <input type="radio" name="gender" value="female">ネコ
      <input type="radio" name="gender" value="female">ウサギ
      <input type="radio" name="gender" value="female">モルモット
    </div>
  <div class="sign-input-box">
    <p>使用したい画像</p>
    <%= f.file_field :image, class: "sign-input-box-image", placeholder: "画像アップロード" %>
  </div>
  <p>相談の内容</p>
  <div class="sign-input-box-last">
  <%= f.text_area :profile, class="sign-input-box-text-last" %>
  </div>
  <p>
  <%= f.submit class="sign-up-go-button",value: '作成' %>
  </p>
  </form>
        <% end %>