<div class="fake-box"></div>
  <div class="room-host">
    <div class="my-img" style="background-image: url(<%= rails_blob_path(@user.image) %>) "></div>
    <div class="my-name">投稿主 <%= @user.user_name %> </div>
  </div>
  <div class="room-host-title">
    <p><%= @myroom.room_name %></p>
  </div>
  
  <% if @myroom.image.attached? %>
    <div class="room-img">
    <%= image_tag @myroom.image %>
    </div>
      <% else %>
  <% end %>
  
  <div class="details">
    <p class="details-top-text">相談の詳細</p>
    <p class="details-bottom-text"><%= @myroom.text %></p>
      <p class="room-host-chat">
        <input class="room-inuput" type="submit" value="相談主とチャットする">
      </p>
    </div>
  <div class="comment-list-toptext">
    <p>コメント一覧</p>
  </div>
  <div class="room-comment">
        <div  class="room-host-img-day">
        <p>
          <div class="my-img" style="background-image: url(<%= rails_blob_path(current_user.image) %>) "></div>
        </p>
        <div>
        <p class="day-text">2025/8/25</p>
        </div>
        </div>
      </div>
      <div class="room-host-name">
        <p><%= current_user.user_name %>さん</p>
      </div>
    <div class="container"> 
    <!-- ここからフォーム -->
    <% if current_user %>
    <div class="comment-box">
      <%= form_tag("/rooms/#{@myroom.id}/comments", method: :post) do %>
        <textarea class="comment-textarea" name="text" placeholder="コメントする" rows="2" cols="30"></textarea>
        <br>
        <input type="submit" value="コメントする">
    <% end %>
    </div>
    <% end %>
    
    <div class="comments">   
      <% if @comments %>
        <% @comments.each do |comment| %>
            <strong><%= link_to comment.user.user_name, "/users/#{comment.user_id}" %>：</strong>
              <div class="room-comment">
              <div  class="room-host-img-day">
                <p>
                  <div class="my-img" style="background-image: url(<%= rails_blob_path(current_user.image) %>) "></div>
                </p>
                <div>
                <p class="day-text">2025/8/25</p>
                </div>
                </div>
                <div class="room-host-name">
                  <p>投稿主 コンコンばあさん</p>
                </div>
              </div>
              <div class="comment-text"><%= comment.text %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="fake-box"></div>