  <% if user_signed_in? %>
  <div class="fake-box"></div>
      <% unless current_user.full_profile? %>
    <h2>まずは、あなたの基本プロフィールを登録しましょう！</h2>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
<% else %>
  <div class="categories">
    <div class="left-categories">
      <div class="left-categories-toptext">
        <p>カテゴリー</p>
      </div>
      <div class="left-categories-items">
        <ul class="left-categorie-animals">
          <li class="categorie-animals">
          <div class="categories-triangle"></div>
            <%= form_tag(products_search_path,:method => 'get',class:"search_container") do %>
            <%= text_field_tag :search,'',placeholder: 'キーワード検索' %>
       <!--submit_tag 'Search', :name => nil-->
            <% end %>
          <a href="/products/category">イヌ</a>
          </li> 
          <li class="categorie-animals">
          <div class="categories-triangle"></div>
          <a href="products/category2" class="left-categories-text">ネコ</a>
          <%= form_tag(products_search_path,:method => 'get',class:"search_container") do %>
          <%= link_to "ネコ", “ネコ” %>
         <!--submit_tag 'Search', :name => nil-->
          <% end %>
          </li> 
          <li class="categorie-animals">
          <div class="categories-triangle"></div>
          <a href="products/category3" class="left-categories-text">ウサギ</a>
          </li> 
          <li class="categorie-animals">
          <div class="categories-triangle"></div>
          <a href="products/category4" class="left-categories-text">その他</a>
          </li>
        </ul>
      </div>
      <div class="left-categories-SNS">
        <p>SNS</p>
      </div>
      <div class="twitter-btn">
        <a href="#meke-room-click">Twitter</a>
      </div>
      <div class="facebook-btn">
        <a href="#meke-room-click">facebook</a>
      </div>
    </div>
    <div class="right-categories">
      <div class="search-box">
        <p>相談部屋を探す</p>
        <div class="search_container-fakebox">
      <%= form_tag(products_search_path,:method => 'get',class:"search_container") do %>
      <%= text_field_tag :search,'',placeholder: 'キーワード検索' %>
       <!--submit_tag 'Search', :name => nil-->
      <% end %>
        </div>
      </div>
      <div class="popular-room-box">
        <p>注目の相談部屋</p>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
        <div class="room-box"><a href="#meke-room-click">ああああああああああああああ</a></div>
      </div>
      <div class="popular-room-box">
        <p>新着の相談部屋</p>
        <% @allrooms.each do |rooms| %>
        <div class="room-box"><a href="/rooms/<%= rooms.id %>"><%= rooms.room_name %></a></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
    <% else %>
  <% end %>